@{
    ViewData["Title"] = "About Us";
}


<!--=================================
Breadcrumb -->
<div class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ol class="breadcrumb my-auto">
                    <li class="breadcrumb-item">  <i class='bx bx-home'></i> <a asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item active"> <i class='bx bx-chevron-right'></i> <span> Book List </span></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<hr class="m-0 custom">
<!--=================================
Breadcrumb -->
<!--=================================
about -->
<section class="space-ptb bg-holder">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-lg-9">
                <div class="text-center">
                    <h1 class="text-primary mb-4">Book Store is a leading international book retailer with unique offers.</h1>
                    <p class="px-sm-5 mb-4 lead font-weight-normal">We ship thousands of books every day from our centers XXXX to more than 130 countries across the world displaying prices in 37 different local currencies.. </p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <div class="section-title text-center">
                    <h2>Plenty of reasons to choose us</h2>
                    <p>Our agency has many specialized areas, but our CUSTOMERS are our real specialty.</p>
                </div>
            </div>
        </div>
        <div class="row no-gutters mt-5">
            <div class="col-lg-3 col-sm-6">
                <div class="feature-info h-100">
                    <div class="feature-info-icon">
                        <i class='bx bx-like'></i>
                    </div>
                    <div class="feature-info-content">
                        <h6 class="mb-3 feature-info-title">Excellent reputation</h6>
                        <p class="mb-0">Our vision is to provide “All Books Available to All” by improving the selection, access, and affordability of books.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="feature-info h-100">
                    <div class="feature-info-icon">
                        <i class='bx bx-briefcase'></i>
                    </div>
                    <div class="feature-info-content">
                        <h6 class="mb-3 feature-info-title">Best Book Store </h6>
                        <p class="mb-0">You are just minutes from joining with the best agents who are fired up about helping you to get the best offers or sell books..</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="feature-info h-100">
                    <div class="feature-info-icon">
                        <i class='bx bx-heart'></i>
                    </div>
                    <div class="feature-info-content">
                        <h6 class="mb-3 feature-info-title">Peace of mind</h6>
                        <p class="mb-0">Rest guaranteed that your agent and their expert team are handling every detail of your transaction from start to end.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="feature-info h-100">
                    <div class="feature-info-icon">
                        <i class='bx bx-book-bookmark'></i>
                    </div>
                    <div class="feature-info-content">
                        <h6 class="mb-3 feature-info-title">Tons of options</h6>
                        <p class="mb-0">Discover the best books in the world. Choose from our vast inventory and choose your desired book.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================================
about -->
<!--=================================
newsletter -->
<section class="py-5 bg-section">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h3 class="text-white text-center mb-0 font-xl">Sign up to our newsletter to get the latest news and offers.</h3>
            </div>
            <div class="col-md-7 mt-3 mt-md-0">
                <div class="newsletter">
                    <form class="d-flex mx-auto ml-auto bg-white p-2">
                        <div class="form-group mb-0 w-75">
                            <input type="email" class="form-control" placeholder="Enter email">
                        </div>
                        <button type="submit" class="btn btn-primary btn-notified">Get notified</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================================
newsletter -->
